@charset "utf-8";
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    color: #424242;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: deepskyblue;
}

body {
    -webkit-user-select: none;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 12px;
    color: #424242;
}

header, footer, nav, section, aside, figure, figcaption, article, audio, video {
    display: block;
}

input {
    outline: none;
}

ul, li {
    list-style: none;
}

a, a:hover, a:active, a:visited, a:target {
    text-decoration: none;
    color: #424242;
}

img {
    display: block;
    border: none;
}

.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}

.swiper-pagination-progress {
    background-color: lightcoral;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background-color: lightgreen;
}

/*-----------------------*/

/*--AUDIO--*/
.audio {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .3rem;
    height: .3rem;
    background: url("image/normalmusic.svg") no-repeat;
    background-size: 100% 100%;
}

.audio .audioMp3 {
    display: none;
}

.audioMove {
    -webkit-animation: audioMove 1s linear infinite both;
    animation: audioMove 1s linear infinite both;
}

@-webkit-keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--AUDIO end--*/

/*--ARROW start--*/
.arrow {
    position: absolute;
    left: 50%;
    bottom: .2rem;
    z-index: 100;
    margin-left: -.24rem;
    width: .24rem;
    height: .18rem;
    background: url("image/web-swipe-tip.png") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    -webkit-animation: arrowFlash 1s linear 0s infinite;
    animation: arrowFlash 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/*--ARROW end--*/

/*--------page 1 start---------*/
.swiper-container {
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-wrapper {
    position: absolute;
    /*top: -100%;*/
    width: 100%;
    /*overflow: hidden;*/
}

.swiper-slide {
    height: 100%;
}

.verticalBar {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
}

.verticalBar > li {
    opacity: 0;
}

.verticalBar li:nth-child(1), .verticalBar li:nth-child(2), .verticalBar li:nth-child(3), .verticalBar li:nth-child(4), .verticalBar li:nth-child(5) {
    position: absolute;
    top: .2rem;
    width: .64rem;
}

.verticalBar li:nth-child(6), .verticalBar li:nth-child(7), .verticalBar li:nth-child(8), .verticalBar li:nth-child(9), .verticalBar li:nth-child(10) {
    position: absolute;
    bottom: .2rem;
    width: .64rem;
}

.verticalBar li:nth-child(1), .verticalBar li:nth-child(6) {
    left: 0;
    height: 2rem;
    background-color: rgb(232, 84, 84);
}

.verticalBar li:nth-child(2), .verticalBar li:nth-child(7) {
    left: .64rem;
    height: 2.5rem;
    background-color: rgb(242, 182, 70);
}

.verticalBar li:nth-child(3), .verticalBar li:nth-child(8) {
    left: 1.28rem;
    height: 3rem;
    background-color: rgb(244, 247, 54);
}

.verticalBar li:nth-child(4), .verticalBar li:nth-child(9) {
    left: 1.92rem;
    height: 2.5rem;
    background-color: rgb(159, 227, 91);
}

.verticalBar li:nth-child(5), .verticalBar li:nth-child(10) {
    left: 2.56rem;
    height: 2rem;
    background-color: rgb(84, 223, 232);
}

/*上部条纹*/
#page1 .flashingBar1 {
    -webkit-animation: verticalBarMoveBar1 1.5s .2s linear 1;
    animation: verticalBarMoveBar1 1.5s .2s linear 1;
}

@-webkit-keyframes verticalBarMoveBar1 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(-2.2rem);
        transform: translateY(-2.2rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes verticalBarMoveBar1 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(-2.2rem);
        transform: translateY(-2.2rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

#page1 .flashingBar2 {
    -webkit-animation: verticalBarMoveBar2 1.5s .4s linear 1;
    animation: verticalBarMoveBar2 1.5s .4s linear 1;
}

@-webkit-keyframes verticalBarMoveBar2 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(-2.7rem);
        transform: translateY(-2.7rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@keyframes verticalBarMoveBar2 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(-2.7rem);
        transform: translateY(-2.7rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

#page1 .flashingBar3 {
    -webkit-animation: verticalBarMoveBar3 1.5s .6s linear 1;
    animation: verticalBarMoveBar3 1.5s .6s linear 1;
}

@-webkit-keyframes verticalBarMoveBar3 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(-3.2rem);
        transform: translateY(-3.2rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@keyframes verticalBarMoveBar3 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(-3.2rem);
        transform: translateY(-3.2rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

#page1 .flashingBar4 {
    -webkit-animation: verticalBarMoveBar2 1.5s .8s linear 1;
    animation: verticalBarMoveBar2 1.5s .8s linear 1;
}

#page1 .flashingBar5 {
    -webkit-animation: verticalBarMoveBar1 1.5s 1s linear 1;
    animation: verticalBarMoveBar1 1.5s 1s linear 1;
}

/*下部条纹*/
#page1 .flashingBar6 {
    -webkit-animation: verticalBarMoveBar6 1.5s 2.5s linear 1;
    animation: verticalBarMoveBar6 1.5s 2.5s linear 1;
}

@-webkit-keyframes verticalBarMoveBar6 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(2.2rem);
        transform: translateY(2.2rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@keyframes verticalBarMoveBar6 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(2.2rem);
        transform: translateY(2.2rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

#page1 .flashingBar7 {
    -webkit-animation: verticalBarMoveBar7 1.5s 2.7s linear 1;
    animation: verticalBarMoveBar7 1.5s 2.7s linear 1;
}

@-webkit-keyframes verticalBarMoveBar7 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(2.7rem);
        transform: translateY(2.7rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@keyframes verticalBarMoveBar7 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(2.7rem);
        transform: translateY(2.7rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

#page1 .flashingBar8 {
    -webkit-animation: verticalBarMoveBar8 1.5s 2.9s linear 1;
    animation: verticalBarMoveBar8 1.5s 2.9s linear 1;
}

@-webkit-keyframes verticalBarMoveBar8 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(3.2rem);
        transform: translateY(3.2rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@keyframes verticalBarMoveBar8 {
    0%, 100% {
        opacity: 0;
        -webkit-transform: translateY(3.2rem);
        transform: translateY(3.2rem);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

#page1 .flashingBar9 {
    -webkit-animation: verticalBarMoveBar7 1.5s 3.1s linear 1;
    animation: verticalBarMoveBar7 1.5s 3.1s linear 1;
}

#page1 .flashingBar10 {
    -webkit-animation: verticalBarMoveBar6 1.5s 3.3s linear 1;
    animation: verticalBarMoveBar6 1.5s 3.3s linear 1;
}

/*-----------------------------------------------------*/
.myResume {
    position: absolute;
    left: -100%;
}

.hi {
    position: absolute;
    left: -100%;
}

#page1 .myResume {
    position: absolute;
    top: 1.1rem;
    left: 50%;
    margin-left: -1.25rem;
    width: 2.5rem;
    height: .7rem;
    border-radius: .1rem;
    text-align: center;
    line-height: .7rem;
    border: .03rem solid #fff;
}

#page1 .myResume > span {
    font-size: .5rem;
    color: #ffffff;
}

#page1 .myResume {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

#page1 .hi {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    margin-left: -.75rem;
    width: 1.5rem;
    height: .4rem;
    text-align: center;
    line-height: .4rem;
}

#page1 .hi a {
    text-decoration: underline #fff;
    border-bottom: .02rem solid #ffffff;
    padding-bottom: .05rem;
}

#page1 .hi a span, .hi a h2 {
    display: inline-block;
}

#page1 .hi a span {
    font-size: .2rem;
    color: #ffffff;
}

#page1 .hi a h2 {
    font-size: .25rem;
    color: #ffffff;
}

#page1 .hi {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

/*--------page 1 end---------*/

/*--------page 2 start---------*/
.inFoList {
    position: absolute;
    left: -100%;
}

#page2 .inFoList {
    position: static;
    left: auto;
    display: block;
    width: 100%;
    height: 100%;
}

#page2 .inFoList li {
    display: table;
    width: 100%;
    height: 13%;
}

#page2 .inFoList li span {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: .2rem;
    color: #ffffff;
}

#page2 .inFoList li:nth-child(1) {
    background-color: rgb(232, 84, 84);
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

#page2 .inFoList li:nth-child(2) {
    background-color: rgb(242, 182, 70);
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

#page2 .inFoList li:nth-child(3) {
    background-color: rgb(244, 247, 54);
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

#page2 .inFoList li:nth-child(4) {
    background-color: rgb(159, 227, 91);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#page2 .inFoList li:nth-child(5) {
    background-color: rgb(84, 223, 232);
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

#page2 .inFoList li:nth-child(6) {
    background-color: rgb(114, 118, 237);
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

#page2 .inFoList li:nth-child(7) {
    background-color: rgb(209, 94, 203);
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.mouse {
    position: absolute;
    left: -100%;
}

#page2 .mouse {
    position: absolute;
    left: 70%;
    bottom: .1rem;
    width: 100%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

#page2 .mouse img {
    width: .8rem;
    height: .3rem;

}

/*--------page 2 end---------*/

/*--------page 3 start---------*/
.box {
    position: absolute;
    left: -100%;
}

#page3 .box {
    position: absolute;
    left: auto;
    top: 15%;
    width: 100%;
    height: 70%;
}

#page3 .box div {
    float: left;
    width: 1.25rem;
    height: 1.85rem;
    border-radius: .15rem;
    box-sizing: border-box;
    padding-top: .6rem;
    z-index: 100;
}

#page3 .box div:nth-child(1) {
    background-color: rgb(232, 84, 84);
    margin-left: .2rem;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

#page3 .box div:nth-child(2) {
    float: right;
    margin-right: .2rem;
    background-color: rgb(159, 227, 91);
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

#page3 .box div:nth-child(3) {
    background-color: rgb(209, 94, 203);
    margin-left: .2rem;
    margin-top: .2rem;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

#page3 .box div:nth-child(4) {
    float: right;
    background-color: rgb(84, 223, 232);
    margin-right: .2rem;
    margin-top: .2rem;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

#page3 .box div span {
    display: block;
    color: #ffffff;
    font-size: .22rem;
    text-align: center;
}

#page3 .box div span:nth-child(2) {
    font-size: .17rem;
}

#page3 .box div:nth-child(5) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.575rem;
    margin-left: -.575rem;
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 50%;
    background-color: rgb(244, 247, 54);
    border: .05rem solid lightgoldenrodyellow;
    z-index: 200;
}

#page3 .box div:nth-child(5) span:nth-child(1) {
    position: relative;
    top: -0.4rem;
    padding: 0 .1rem;
    font-size: .2rem;
}

#page3 .box div:nth-child(5) span:nth-child(2) {
    position: relative;
    top: -0.4rem;
    padding: 0 .1rem;
}

/*--------page 3 end---------*/

/*--------page 4  start--------*/
.page4 {
    display: none;
}

#page4 .page4 {
    display: block;
    position: absolute;
    left: auto;
}

#page4 .page4 div:nth-child(1), .page4 div:nth-child(3) {
    width: 100%;
    height: .4rem;
    background-color: rgb(250, 231, 130);
    font-size: .2rem;
}

#page4 .page4 div:nth-child(1) span, .page4 div:nth-child(3) span {
    margin-left: .15rem;
    line-height: .4rem;
    color: #ffffff;
}

#page4 .page4 div:nth-child(2) span, .page4 div:nth-child(4) span {
    display: block;
    margin: .3rem .2rem auto .2rem;
    letter-spacing: .05rem;
    color: #ffffff;
}

#page4 .page4 div:nth-child(1) {
    margin-top: .7rem;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

#page4 .page4 div:nth-child(2) {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#page4 .page4 div:nth-child(3) {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

#page4 .page4 div:nth-child(4) {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

#page4 .page4 div:nth-child(2), .page4 div:nth-child(4) {
    width: 100%;
    height: 1.5rem;
    font-size: .17rem;
}

/*--------page 4  end--------*/

/*--------page 5  start--------*/
.verticalBar1 {
    position: absolute;
    left: -200%;
}

#page5 .verticalBar1 {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
}

.verticalBar1 > li {
    opacity: 1;
    border: 0;
}

.verticalBar1 li:nth-child(1), .verticalBar1 li:nth-child(2), .verticalBar1 li:nth-child(3), .verticalBar1 li:nth-child(4), .verticalBar1 li:nth-child(5) {
    position: absolute;
    top: 3.5%;
    width: .64rem;
}

.verticalBar1 li:nth-child(6), .verticalBar1 li:nth-child(7), .verticalBar1 li:nth-child(8), .verticalBar1 li:nth-child(9), .verticalBar1 li:nth-child(10) {
    position: absolute;
    bottom: 3.5%;
    width: .64rem;
}

.verticalBar1 li:nth-child(1), .verticalBar1 li:nth-child(6) {
    left: 0;
    height: 46.5%;
    background-color: rgb(232, 84, 84);
}

.verticalBar1 li:nth-child(2), .verticalBar1 li:nth-child(7) {
    left: .64rem;
    height: 46.5%;
    background-color: rgb(242, 182, 70);
}

.verticalBar1 li:nth-child(3), .verticalBar1 li:nth-child(8) {
    left: 1.28rem;
    height: 46.5%;
    background-color: rgb(244, 247, 54);
}

.verticalBar1 li:nth-child(4), .verticalBar1 li:nth-child(9) {
    left: 1.92rem;
    height: 46.5%;
    background-color: rgb(159, 227, 91);
}

.verticalBar1 li:nth-child(5), .verticalBar1 li:nth-child(10) {
    left: 2.56rem;
    height: 46.5%;
    background-color: rgb(84, 223, 232);
}

@keyframes bounceInDown5 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

}

@-webkit-keyframes bounceInDown5 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

}

@keyframes bounceInUp5 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInUp5 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceFade {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

}

@-webkit-keyframes bounceFade {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

}

#page5 .verticalBar1 .flashingBar1 {
    -webkit-animation: bounceInDown5 1s .2s linear 1 both;
    animation: bounceInDown5 1s .2s linear 1 both;
}

#page5 .verticalBar1 .flashingBar1.bar1, #page5 .verticalBar1 .flashingBar6.bar1 {
    -webkit-animation: bounceFade 1s 0.8s linear 1 both;
    animation: bounceFade 1s 0.8s linear 1 both;
}

#page5 .verticalBar1 .flashingBar2 {
    -webkit-animation: bounceInDown5 1s .4s linear 1 both;
    animation: bounceInDown5 1s .4s linear 1 both;
}

#page5 .verticalBar1 .flashingBar2.bar2, #page5 .verticalBar1 .flashingBar7.bar2 {
    -webkit-animation: bounceFade 1s 0.6s linear 1 both;
    animation: bounceFade 1s 0.6s linear 1 both;
}

#page5 .verticalBar1 .flashingBar3 {
    -webkit-animation: bounceInDown5 1s .6s linear 1 both;
    animation: bounceInDown5 1s .6s linear 1 both;
}

#page5 .verticalBar1 .flashingBar3.bar3, #page5 .verticalBar1 .flashingBar8.bar3 {
    -webkit-animation: bounceFade 1s 0.4s linear 1 both;
    animation: bounceFade 1s 0.4s linear 1 both;
}

#page5 .verticalBar1 .flashingBar4 {
    -webkit-animation: bounceInDown5 1s .8s linear 1 both;
    animation: bounceInDown5 1s .8s linear 1 both;
}

#page5 .verticalBar1 .flashingBar4.bar4, #page5 .verticalBar1 .flashingBar9.bar4 {
    -webkit-animation: bounceFade 1s 0.2s linear 1 both;
    animation: bounceFade 1s 0.2s linear 1 both;
}

#page5 .verticalBar1 .flashingBar5 {
    -webkit-animation: bounceInDown5 1s 1s linear 1 both;
    animation: bounceInDown5 1s 1s linear 1 both;
}

#page5 .verticalBar1 .flashingBar5.bar5, #page5 .verticalBar1 .flashingBar10.bar5 {
    -webkit-animation: bounceFade 1s linear 1 both;
    animation: bounceFade 1s linear 1 both;
}

#page5 .verticalBar1 .flashingBar6 {
    -webkit-animation: bounceInUp5 1s .2s linear 1 both;
    animation: bounceInUp5 1s .2s linear 1 both;
}

#page5 .verticalBar1 .flashingBar7 {
    -webkit-animation: bounceInUp5 1s .4s linear 1 both;
    animation: bounceInUp5 1s .4s linear 1 both;
}

#page5 .verticalBar1 .flashingBar8 {
    -webkit-animation: bounceInUp5 1s .6s linear 1 both;
    animation: bounceInUp5 1s .6s linear 1 both;
}

#page5 .verticalBar1 .flashingBar9 {
    -webkit-animation: bounceInUp5 1s .8s linear 1 both;
    animation: bounceInUp5 1s .8s linear 1 both;
}

#page5 .verticalBar1 .flashingBar10 {
    -webkit-animation: bounceInUp5 1s 1s linear 1 both;
    animation: bounceInUp5 1s 1s linear 1 both;
}

/*--------------------圆圈-----------------*/
.iconPro1 {
    position: absolute;
    top: 1.3rem;
    left: .35rem;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
}

.iconPro1 span {
    font-size: .24rem;
    color: #ffffff;
    position: absolute;
    top: .6rem;
    left: .17rem;
}

.iconPro2 {
    position: absolute;
    top: 2.5rem;
    left: 1.8rem;
    width: .9rem;
    height: .9rem;
    opacity: 0;
}

.iconPro2 span {
    font-size: .24rem;
    color: #ffffff;
    position: absolute;
    top: .3rem;
    left: .2rem;
}

.iconPro3 {
    position: absolute;
    top: 3.4rem;
    left: .7rem;
    width: 1.3rem;
    height: 1.3rem;
    opacity: 0;
}

.iconPro3 span {
    font-size: .24rem;
    color: #ffffff;
    position: absolute;
    top: .5rem;
    left: .17rem;
}

.iconPro4 > img {
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
}

.iconPro4 {
    position: absolute;
    top: .35rem;
    left: 1.85rem;
    width: 1rem;
    height: .6rem;
    opacity: 0;
}

.iconPro4 span {
    font-size: .24rem;
    color: #ffffff;
    position: absolute;
    top: .2rem;
    left: .24rem;
}

#page5 .iconPro1 img, #page5 .iconPro2 img, #page5 .iconPro3 img {
    -webkit-animation: page5Round 2s 5s linear infinite both;
    animation: page5Round 2s 5s linear infinite both;
}

#page5 .iconPro1, #page5 .iconPro2, #page5 .iconPro3 {
    -webkit-animation: page5Round1 2s 4s linear 1 both;
    animation: page5Round1 2s 4s linear 1 both;
}

@keyframes page5Round {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@-webkit-keyframes page5Round {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes page5Round1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes page5Round1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#page5 .iconPro4 {
    -webkit-animation: page5Round2 1s 4s linear 1 both;
    animation: page5Round2 1s 4s linear 1 both;
}

@keyframes page5Round2 {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(0deg);
        transform: scale(0.1) rotate(0deg);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);

    }
}

@-webkit-keyframes page5Round2 {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(0deg);
        transform: scale(0.1) rotate(0deg);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);

    }
}
.swiper-container .slide5 {
    position: relative;
    background: #000;
    perspective: 340px;
}
.swiper-container .slide5 .stars {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    box-shadow: -447px 387px red, -401px 118px #fafafa, -109px 217px #d9d9d9, -680px -436px #e3e3e3, 514px 360px #cccccc, -708px 298px #e8e8e8, -696px -270px #ededed, 116px -128px #f7f7f7, 179px 35px white, -404px -90px whitesmoke, -331px -309px #c4c4c4, -363px -24px #d1d1d1, 277px 416px #fafafa, -145px -244px whitesmoke, 123px 62px #d4d4d4, -407px 418px #d9d9d9, 535px 237px #d9d9d9, -466px -78px #f7f7f7, 257px 287px #dedede, 327px -398px #e0e0e0, -602px -38px #c2c2c2, 128px 398px #e6e6e6, 274px -446px #d1d1d1, -602px -298px #c7c7c7, 526px -5px #c4c4c4, -90px -158px #fcfcfc, 5px 294px whitesmoke, -633px 229px #c4c4c4, -475px 427px #dedede, 586px -453px #f2f2f2, 180px -432px #c7c7c7, -637px -88px #cfcfcf, -453px 308px #d6d6d6, -111px 1px #d9d9d9, 573px -450px #ededed, 198px 300px #d6d6d6, -355px 166px #dedede, -715px 13px #e3e3e3, 262px -104px #d1d1d1, 147px 325px #dbdbdb, 1px 399px #dbdbdb, 286px -100px white, 43px -329px #e8e8e8, 617px 55px #d9d9d9, -168px -392px #cccccc, 84px 219px #c9c9c9, 507px -226px #d9d9d9, -327px -70px #e6e6e6, 386px -212px #c4c4c4, -717px 4px #cfcfcf, 502px -231px #e3e3e3, 302px 56px #ededed, 649px 341px #c7c7c7, 569px 350px #c9c9c9, 516px -31px #e6e6e6, 689px 447px #c2c2c2, 591px -206px #fafafa, 422px -137px #e6e6e6, -510px -324px #cccccc, -649px 287px #c2c2c2, -194px -48px #f7f7f7, -279px -329px #d1d1d1, -406px 478px #dbdbdb, -735px -87px #c9c9c9, 30px -197px #dedede, -564px 233px #e6e6e6, -486px -324px #ededed, -54px -7px #ededed, -441px -194px #e3e3e3, -133px -95px #e0e0e0, -722px -73px #d6d6d6, 595px 423px #ededed, 568px -39px #ededed, 370px 377px #d1d1d1, -419px -102px #fcfcfc, -450px 109px #c4c4c4, -57px -119px #d1d1d1, -582px 150px #e6e6e6, 206px -263px #cfcfcf, 582px -461px #c9c9c9, -268px -141px #d9d9d9, -148px 291px #c7c7c7, 254px -179px #c9c9c9, 725px 424px #f0f0f0, 391px -150px #ebebeb, 89px -299px #d4d4d4, 170px 1px #c9c9c9, 243px 209px #c7c7c7, 27px 460px #c9c9c9, -465px -380px #d4d4d4, 530px -360px whitesmoke, -626px 53px #e0e0e0, 706px 218px #d9d9d9, 40px -82px #cccccc, -5px -212px #e6e6e6, -742px 33px #ebebeb, -714px 478px #e0e0e0, -585px -125px #cccccc, -216px 348px #cfcfcf, 601px 332px #ededed, 344px -88px #c4c4c4, 659px -22px #d1d1d1, -411px 188px #d6d6d6, -423px -206px #fcfcfc, -359px -136px #cfcfcf, 612px 406px whitesmoke, 725px 96px whitesmoke, 363px -446px white, -204px 325px #c9c9c9, 740px 176px #fafafa, -489px -352px white, -638px 64px #dbdbdb, 537px -65px #dbdbdb, 151px -32px #ebebeb, 681px 212px #fcfcfc, 604px -149px #e6e6e6, -542px -398px #c4c4c4, -707px 66px whitesmoke, -381px 258px #cfcfcf, -30px 332px #d6d6d6, 512px -381px #c9c9c9, 195px 288px #cccccc, -278px 479px #c7c7c7, 27px -208px #d6d6d6, -288px 15px white, -680px 248px #dedede, 433px 31px #c9c9c9, 150px -206px #d4d4d4, -79px 247px white, -594px 115px #e0e0e0, 99px 292px #e0e0e0, 673px -269px #dedede, -257px -64px #d1d1d1, 449px 81px #f2f2f2, 18px -99px #d1d1d1, -694px 415px #f7f7f7, 240px 264px #e0e0e0, 450px -172px white, 383px 7px #e8e8e8, 338px -73px #c9c9c9, 291px -19px #ebebeb, 659px 137px #d1d1d1, 602px -6px #fcfcfc, 554px 249px #ebebeb, 625px 356px #d9d9d9, 579px -183px #d6d6d6, -20px 250px white, -401px 431px #c4c4c4, -645px -232px #cccccc, -265px -148px white, 553px 258px #d1d1d1, 166px -360px #ebebeb, 719px 51px #ededed, 612px -129px #ebebeb, -465px -104px #f2f2f2, -154px -121px #d9d9d9, -1px 330px #f2f2f2, -666px 248px #f7f7f7, -720px 264px #ededed, 148px -365px #e6e6e6, -388px -349px #c4c4c4, 128px -88px #e3e3e3, -683px -274px #fafafa, -341px 41px #c9c9c9, -59px -471px #f0f0f0, -3px -427px #c2c2c2, 418px 167px #d6d6d6, 343px 247px #c7c7c7, 623px -347px #d1d1d1, 716px -217px white, 243px -409px whitesmoke, -75px -126px #d6d6d6, -730px -91px #c9c9c9, -210px -397px #cfcfcf, -349px 180px #c9c9c9, -567px -281px #e0e0e0, -460px 381px #fcfcfc, -310px -22px #ededed, 450px -1px #dbdbdb, -405px -328px #e3e3e3, 5px 332px #d6d6d6, -294px 302px #fcfcfc, -398px 97px whitesmoke, -696px 325px #cfcfcf, -589px 110px #d6d6d6, 353px -411px #dbdbdb, -697px -318px #ebebeb, -114px -72px #f0f0f0, 259px -193px #fcfcfc, 60px 26px #e6e6e6, -63px -232px white, 205px -372px #f7f7f7, -464px -333px #f2f2f2, -374px 123px white, -377px -386px #c7c7c7, -80px 337px #cccccc, 478px -178px #dbdbdb, 222px 420px #ebebeb, -707px 99px #c4c4c4, 716px -132px #fafafa, -253px -286px #e3e3e3, 646px 178px #f0f0f0, 201px 24px #d1d1d1, 178px -58px #c7c7c7, -557px 368px #ededed, 0px 219px #d9d9d9, -266px -269px #cccccc, 242px -197px #c9c9c9, -419px 193px #c2c2c2, -47px 91px #c7c7c7, -109px 75px #c2c2c2, -146px -453px #d6d6d6, 671px -350px #f2f2f2, 421px -91px #d9d9d9, 738px 19px #ededed, -316px -155px #dedede, 419px 244px #fcfcfc, -278px -418px #d6d6d6, -581px -181px #fcfcfc, 139px 264px #d9d9d9, 691px -11px #ebebeb, -622px 402px #c2c2c2, 219px 396px #f0f0f0, -149px -423px white, -716px -78px #d9d9d9, -590px 341px #e6e6e6, -208px 79px #d6d6d6, -227px -24px #f7f7f7, 239px 262px #d1d1d1, 740px 443px #f7f7f7, 509px 134px #d6d6d6, -555px 232px #e8e8e8, -67px -427px #cfcfcf, -368px 250px #f7f7f7, 715px -415px #fafafa, 411px -301px #f0f0f0, -322px 287px #d9d9d9, -429px -90px #f2f2f2, -327px -387px #f0f0f0, -491px 183px #c2c2c2, -133px 250px #d4d4d4, 538px 139px #e3e3e3, -417px -125px #f0f0f0, 653px -351px #e6e6e6, -549px 38px #d4d4d4, 602px 110px whitesmoke, 415px 105px #e0e0e0, -733px -371px #cfcfcf, 286px 403px #d4d4d4, 11px 320px #c4c4c4, -597px 158px whitesmoke, 716px -350px whitesmoke, 321px 67px #fafafa, -237px -300px #cfcfcf, 74px 152px #c9c9c9, 587px -123px #fcfcfc, 699px -332px whitesmoke, 399px 355px #f7f7f7, -323px 314px #dbdbdb, 89px 416px #c7c7c7, 445px 38px #e3e3e3, 572px 122px #c4c4c4, -258px 372px white, 49px 306px #d9d9d9, 437px -35px #dedede, 566px 174px #f2f2f2, 732px -299px whitesmoke, -410px 394px #ededed, 131px -415px white, 19px -326px #e8e8e8, -700px -188px #d1d1d1, 96px -1px #e0e0e0, -328px -396px #f0f0f0, -117px -214px #fcfcfc, -53px 261px #ebebeb, 80px 134px #d6d6d6, -364px -216px white, -636px -125px #dbdbdb, -639px -265px #e3e3e3, 208px 98px #c7c7c7, 172px 467px #e0e0e0, 435px 309px #e3e3e3, 194px -259px #f0f0f0, 209px -186px #c9c9c9, -312px 418px #fafafa, 229px 407px #c9c9c9, -449px -357px #fafafa, 674px 121px #e8e8e8, 608px -429px #ebebeb, -431px -428px #cfcfcf, 105px 462px #e3e3e3, -179px -372px #e3e3e3, 143px -317px #d6d6d6, -449px -149px #fafafa, -544px 250px #dedede, -220px -323px whitesmoke, 658px 8px whitesmoke, -656px -244px #e8e8e8, 347px 11px whitesmoke, 694px -230px #f7f7f7, -317px 1px #c4c4c4, 28px 23px #fcfcfc, -382px 321px #dbdbdb, 632px -74px #c4c4c4, 154px -245px #c2c2c2, -553px 337px #d6d6d6, -48px -243px #d1d1d1, 92px -391px #cccccc, -71px -256px #cfcfcf, -372px 57px #d9d9d9, 369px -140px #fcfcfc, 675px 81px #c2c2c2, -663px 254px #cccccc, 703px -203px #ededed, 74px -363px #c2c2c2, 643px -458px #d1d1d1, 198px 359px #cccccc, 265px 309px #d4d4d4, -353px -368px #e8e8e8, -465px 439px whitesmoke, 693px 360px #c9c9c9, 634px -397px #d1d1d1, 467px 25px whitesmoke, -558px -272px #e6e6e6, 671px 69px #dbdbdb, 407px 357px #cfcfcf, 379px 80px white, 10px -203px #c9c9c9, 104px -292px #f0f0f0, -667px -29px #d1d1d1, 557px -155px #e6e6e6, -505px 115px #cfcfcf, -605px 164px #f2f2f2, -108px -223px #e0e0e0, 523px -156px #ebebeb, 691px 230px white, -507px -13px #d1d1d1, -349px 332px #dedede, 520px 266px whitesmoke, -66px -250px #e6e6e6, -496px -449px #ebebeb, 414px -170px #dedede, -649px 230px #ebebeb, 598px -92px #c7c7c7, -638px 113px #c2c2c2, 151px 363px #f7f7f7, -445px -241px #f0f0f0, 527px -14px #dedede, 203px -61px #cfcfcf, -716px -284px #ebebeb, -525px 134px #c2c2c2;
    transform-style: preserve-3d;
}
.swiper-container .slide5 span {
    display: block;
    font-size: .25rem;
    color: #fff;
    position: absolute;
    z-index: 11;
}
.swiper-container .slide5 .contact1 {
    left: .5rem;
    color: lightgreen;
    animation: .2s fontMove linear .2s infinite alternate;
}
.swiper-container .slide5 .contact2 {
    left: 1rem;
    color: lightcyan;
    animation: .2s fontMove linear .3s infinite alternate;
}
.swiper-container .slide5 .contact3 {
    left: 1.5rem;
    color: lightskyblue;
    animation: .2s fontMove linear .5s infinite alternate;
}
.swiper-container .slide5 .contact4 {
    left: 2rem;
    color: lightgoldenrodyellow;
    animation: .2s fontMove linear .7s infinite alternate;
}
.swiper-container .slide5 .contact5 {

    left: 2.5rem;
    animation: .2s fontMove linear .5s infinite alternate;
}
.swiper-container .slide5 ul li {
    opacity: 0;
    display: block;
    font-size: .25rem;
    color: #999;
    position: absolute;
    left: .9rem;
    top: .5rem;
}
.swiper-container .slide5 ul li:nth-child(2) {
    top: .85rem;
    left: .65rem;
    font-size: .15rem;
}
.swiper-container .slide5 ul li:nth-child(3) {
    top: 2.6rem;
    left: .65rem;
    font-size: .15rem;
}
.swiper-container .slide5 ul li:nth-child(4) {
    top: 2.9rem;
    left: .65rem;
    font-size: .15rem;
}
.swiper-container .slide5 ul li:nth-child(5) {
    top: 3.2rem;
    left: .65rem;
    font-size: .15rem;
}
.swiper-container .slide5 .ewm {
    opacity: 0;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    margin: 1.25rem auto;
    position: absolute;
    top: 0;
    left: .85rem;
}
@keyframes fontMove {
    0% {
        top: 3.75rem;
    }
    100% {
        top: 3.85rem;
    }
}
@-webkit-keyframes fontMove {
    0% {
        top: 3.75rem;
    }
    100% {
        top: 3.85rem;
    }
}
@keyframes fly {
    from {
        transform: translateZ(0px);
        opacity: .6;
    }
    to {
        transform: translateZ(300px);
        opacity: 1;
    }
}
@-webkit-keyframes fly {
    from {
        transform: translateZ(0px);
        opacity: .6;
    }
    to {
        transform: translateZ(300px);
        opacity: 1;
    }
}
 #page6 .stars {
    animation: fly 3s linear infinite forwards;
}
 #page6 .ewm {
    -webkit-animation: fadeIn .5s 1 .7s linear forwards;
    animation: fadeIn .5s 1 .7s linear  forwards;
}
 #page6 li:nth-child(1) {
    -webkit-animation: fadeInDown 1s 1  linear forwards;
    animation: fadeInDown 1s 1   linear forwards;
}
 #page6 li:nth-child(2) {
    -webkit-animation: fadeInDown 1s 1 .4s linear forwards;
    animation: fadeInDown 1s 1 .4s linear forwards;
}
 #page6 li:nth-child(3) {
    -webkit-animation: fadeInUp 1s 1 1s linear forwards;
    animation: fadeInUp 1s 1 1s linear forwards;
}
 #page6 li:nth-child(4) {
    -webkit-animation: fadeInUp 1s 1 1.3s linear forwards;
    animation: fadeInUp 1s 1 1.3s linear forwards;
}
 #page6 li:nth-child(5) {
    -webkit-animation: fadeInUp 1s 1 1.6s linear forwards;
    animation: fadeInUp 1s 1 1.6s linear forwards;
}
/*--------page 5 end--------*/



